* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 80%;
}

.accordion {
  border: 2px solid darkgray;
  border-radius: 10px;
  margin: 0 auto;
  margin: 5px;
  transition: all 100ms ease-in;
}

.accordion__title {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.accordion__title > span {
  margin: 0 0 0 auto;
  font-size: large;
  transition: transform 200ms ease;
}

.accordion__body {
  max-height: 0;
  padding: 0 1rem;
  overflow: hidden;
  transition: all 100ms ease-in;
}

.accordion--active  {
  padding: 0 0 1rem 0;
}

.accordion--active > .accordion__title {
  background-color: lightgray;
  margin-bottom: 10px;
}

.accordion--active > .accordion__title > span {
  transform: rotate(180deg)
}